.header 
    .container
        a(href="http://localhost:3000/") Trang chủ
        a(href="http://localhost:3000/products") Danh sách sản phẩm
        a(href="http://localhost:3000/admin/dashboard") Quản trị viên