.header {
  padding: 15px;
  background-color: #fcfafa;
  border-bottom: 1px solid #ddd;
  .logo {
    display: flex;
    justify-content: flex-end;
    align-items: center;
    cursor: pointer;

    .username {
      font-weight: bold;
      font-size: 16px;
      display: block;
      color: #575353e2;
      margin-right: 5px;
    }
    img {
      width: 40px;
      height: 40px;
      margin-left: 5px;
    }
  }
}

section.body {
  display: flex;
  justify-content: space-between;
  align-items: flex-start;
  .slider {
    background-color: #4e73df;
    width: 15%;
    height: 100vh;
    ul {
      li {
        padding: 15px;
        border-bottom: 1px solid #ddd;
        a {
          text-decoration: none;
          display: block;
          color: #ddd;
          font-size: 20px;
          list-style-type: none;
        }
      }
    }
  }
  .main {
    width: 85%;
    height: 100vh;
    padding: 20px;
    .products-list {
      h1.title {
        text-align: center;
        font-size: 30px;
        color: #2ecc71;
        font-weight: bold;
        padding-bottom: 20px;
      }
      .filter-search {
        border: 1px solid #ddd;
        margin-bottom: 10px;
        .title {
          background-color: #bdc3c7;
          font-weight: bold;
          padding: 10px;
        }
        .body {
          display: flex;
          justify-content: space-between;
          align-items: center;
          .filter {
            padding: 10px;
            button {
              padding: 7px;
              border: 1px solid #2ecc71;
              background-color: white;
              color: #2ecc71;
              margin-right: 10px;
              border-radius: 10px;
              cursor: pointer;
            }
            .check,
            button:hover {
              background-color: #2ecc71;
              color: white;
            }
          }
          .search {
            .input-group {
              margin-right: 10px;
              input,
              button {
                padding: 7px 12px;
                border: 1px solid #ddd;
                outline: none;
              }
              input {
                width: 500px;
                border-top-left-radius: 10px;
                border-bottom-left-radius: 10px;
              }
              button {
                border-top-right-radius: 10px;
                border-bottom-right-radius: 10px;
              }
            }
          }
        }
      }

      .change-multi {
        display: flex;
        justify-content: flex-start;
        align-items: center;
        padding-bottom: 10px;
        select,
        button {
          padding: 7px 12px;
        }
        input {
          padding: 7px 12px;
          border: 1px solid #ddd;
          width: 250px;
          display: none;
        }
        button {
          background-color: #2ecc71;
          color: white;
        }
      }
      table,
      tr,
      td {
        border: 2px solid #bdc3c7;
      }
      table {
        text-align: center;
        border-collapse: collapse;
        width: 100%;

        .img {
          width: 200px;

          img {
            width: 200px;
            height: 133px;
            display: block;
          }
        }

        thead {
          td {
            font-weight: bold;
            padding: 10px 0;
            background-color: #ecf0f1;
          }
          .stt {
            width: 50px;
          }

          .status,
          .action {
            width: 200px;
          }
          .price {
            width: 150px;
          }
        }
        tbody {
          tr {
            transition: 0.6s;
          }
          tr:hover {
            cursor: pointer;
            background-color: #ecf0f1;
            // transition: 0.9s;
            // transition: 6s;
          }
          td.name {
            text-align: left;
            padding: 0 20px;
          }
          td.status {
            padding: 0 20px;
            button {
              text-align: center;
              border-radius: 10px;
              font-size: 16px;
              padding: 5px;
              color: #fff;
              font-weight: bold;
            }
            .active {
              background-color: #2ed573;
            }
            .inactive {
              background-color: #eb2f06;
            }
          }

          td.action {
            button,
            a.edit {
              padding: 8px 20px;
              outline: none;
              border: none;
              color: white;
              border-radius: 10px;
              cursor: pointer;
            }
            a.edit {
              background-color: #f9ca24;
              margin-right: 5px;
            }
            .remove {
              background-color: #eb2f06;
              margin-left: 5px;
            }
          }
        }
      }
    }
  }
}

.table {
  position: relative;
  .not-found {
    position: absolute;
    transform: translateX(-50%);
    left: 50%;
    top: 60px;
  }
}

.pagination {
  padding-top: 10px;
  ul {
    list-style-type: none;
    display: flex;
    li.active {
      button {
        background-color: #4e73df;
        border: 1px solid 4e73df;
        color: #bdc3c7;
      }
    }

    li {
      button {
        outline: none;
        border: 1px solid #ddd;
        padding: 8px 12px;
        background-color: #bdc3c7;
        cursor: pointer;
      }
      button:hover {
        background-color: #4e73df;
        border: 1px solid 4e73df;
        color: #bdc3c7;
      }
    }
  }
}

#form-create-product,
#form-edit-product {
  width: 500px;
  margin: 0 auto;
  .input-group {
    display: flex;
    flex-direction: column;

    label {
      padding: 10px 0;
    }
    input {
      border: 1px solid #ddd;
      border-radius: 5px;
      padding: 8px 12px;
    }
  }
  button {
    padding: 8px 12px;
    border-radius: 5px;
    background-color: #4e73df;
    color: white;
  }
  .status {
    display: flex;
    flex-direction: row;
    p {
      display: block;
    }
  }
}
.btn-delele-upload-img {
  display: none;
  cursor: pointer;
  position: absolute;
  top: 49px;
  right: 12px;
  background-color: red;
  color: white;
}

.d-block {
  display: block;
}
.p-relative {
  position: relative;
  .preview-img {
    width: 150px;
    border-radius: 5px;
    border: 1px solid #ddd;
  }
}
