mixin form-change-multi(path)
    form(action=path method="POST" form-change-multi)
            .change-multi 
                select(name="status")
                    option(disabled selected) -- Chọn hành động -- 
                    option(value="active") Hoạt động
                    option(value="inactive") Dừng hoạt động
                    option(value="delete-all") Xóa tất cả
                    option(value="change-position") Thay đổi vị trí
                input(type="text" name="ids") 
                button(type="submit") Áp dụng