mixin search(keyword)
    form(class="form-search") 
        .input-group
            input(type="text" placeholder="Nhập từ khóa..." name="keyword" value=keyword)
            button(class="btn-search" type="submit") Tìm kiếm